<div class="option-container">
  <div class="option-control">
    <button class="action-button" (click)="addNode()">AÑADIR NODO</button>
  </div>
  <div class="option-control">
    <button class="action-button">AÑADIR NODO CON ENLACE</button>
  </div>
  <div class="option-control">
    <button class="action-button">ELIMINAR NODO</button>
  </div>
  <div class="option-control">
    <button class="action-button" (click)="resetGraph()">REINICIAR GRAFO</button>
  </div>
</div>
<div class="graph-network"
     [etsisiVis]="id"
     [etsisiVisNodes]="nodes"
     [etsisiVisEdges]="edges"
     [etsisiVisOptions]="options"
     (ready)="isGraphNetworkReady()">
</div>
