<div class="option-container">
  <div class="option-control">
    <span class="option-label">CHANGE COLOR OF:</span>
  </div>
  <div class="option-control">
    <span class="option-label">NODES</span>
    <label class="switch">
      <input type="checkbox" [checked]="changeNodeColor" (click)="setNodeColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">BORDERS</span>
    <label class="switch">
      <input type="checkbox" [checked]="changeBorderColor" (click)="setBorderColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">LINKS</span>
    <label class="switch">
      <input type="checkbox" [checked]="changeEdgeColor" (click)="setEdgeColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <button class="action-button" (click)="resetGraph()">RESET</button>
  </div>
</div>
<div class="graph-network"
     [etsisiVis]="id"
     [etsisiVisNodes]="nodes"
     [etsisiVisEdges]="edges"
     [etsisiVisOptions]="options">
</div>
