<div class="option-container">
  <div class="option-control">
    <span class="option-label">CAMBIAR COLOR DE:</span>
  </div>
  <div class="option-control">
    <span class="option-label">NODOS</span>
    <label class="switch">
      <input type="checkbox" (click)="setNodeColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">BORDES</span>
    <label class="switch">
      <input type="checkbox" (click)="setBorderColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">ENLACES</span>
    <label class="switch">
      <input type="checkbox" (click)="setEdgeColor()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <button class="action-button" (click)="resetGraph()">REINICIAR</button>
  </div>
</div>
<div class="graph-network"
     [etsisiVis]="id"
     [etsisiVisNodes]="nodes"
     [etsisiVisEdges]="edges"
     [etsisiVisOptions]="options"
     (ready)="isGraphNetworkReady()">
</div>
