<div class="option-container">
  <div class="option-control">
    <span class="option-label">ETIQUETAS</span>
    <label class="switch">
      <input type="checkbox" checked (click)="hideShowLabels()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control" *ngIf="showEdges">
    <span class="option-label">ICONOS</span>
    <label class="switch">
      <input type="checkbox" checked (click)="hideShowIcons()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">ENLACES</span>
    <label class="switch">
      <input type="checkbox" checked (click)="hideShowEdges()">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="option-control">
    <span class="option-label">BOTONES</span>
    <label class="switch">
      <input type="checkbox" checked (click)="hideShowButtons()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
<div class="graph-network"
     [etsisiVis]="id"
     [etsisiVisNodes]="nodes"
     [etsisiVisEdges]="edges"
     [etsisiVisOptions]="options"
     (ready)="isGraphNetworkReady()">
</div>
